<!DOCTYPE html>
<html ng-app="angularCalculator">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="client.js" charset="utf-8"></script>
    <link rel="stylesheet" href="styles.css">
    <title>AngularJS Calculator</title>
  </head>
  <body ng-controller="MainController">

    <div class="container">
      <h1>Calculator</h1>
      <div class="calculator">
        <div class="calculator-screen" ng-model="screenDisplay">
          <div class="current-operation"><span ng-repeat="param in calcArray">{{param}} </span></div>
          <div class="result">{{screenDisplay}}</div>

        </div>
        <div class="calculator-buttons">
          <div class="button-3"></div>
          <div class="button" ng-click="clear('clear')">C</div>
          <div class="button" ng-repeat="button in buttonArray track by $index" ng-click="buttonPress($index)">{{button.button}}</div>
        </div>

      </div>
      <div class="testing" ng-click="logTest()">
        Test Log
      </div>
      <div class="results-log" ng-model="resultsLog">
        <ul>
          <h4>Calculation History</h4>
          <li ng-repeat="calc in storedCalc track by $index">
            {{calc.params[0]}} {{calc.params[1]}} {{calc.params[2]}} = {{calc.result}}
          </li>
        </ul>
      </div>

    </div>
  </body>
</html>
